html,body {
    overflow-x: hidden;
}
:root {
    --main: #145369;
    --side: #000;
    --back: #fff;
    --extra: #5AB9EA;
    --gra: linear-gradient(to top left, rgb(0, 125, 150, 1), rgba(50, 100, 125, 1));
    --blw: linear-gradient(to bottom, rgba(250, 250, 250, 1), rgba(0, 100, 175, 1), rgb(0, 0, 0, 1));
    --wlb: linear-gradient(to top, rgba(250, 250, 250, 1), rgba(0, 100, 175, 1), rgb(0, 0, 0, 1));
}
.ks {
    font-size: 20%;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 1.5;
}
.big-heading {
    font-size: 3.5rem;
    text-align: left;

}
h2 {
    font-size: 2.35rem;
}
.container-fluid {
    padding: 3% 17%;
}

#title {
    color: #000;
    background-image: var(--blw);
    padding-bottom: 4%;

}

.title-image {
    width: 25%;
    transform: rotate(0deg);
    position: absolute;
    top: 14%;
    right: 8%;
    border-radius: 100%;
    pointer-events: none;
}
svg {
  width: 19%;
  position: absolute;
  right: 21%;
  top: -2.3%;
}
g {
    fill: #222;
}
g:hover {
    fill: #fff;
}

/* navbar */
.navbar {
    padding-bottom: 4.5rem
}
.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-type: bold;
}
.nav-item {
    padding: 0 18px;
}
.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
ul.navbar-nav {
    text-align: left;
}
.navbar-toggler-icon {
    color: #000;
}
/* Buttons */
a.btn-dark:hover{
    background: #fff;
    color: #000;
    border-color: #000;
}
#title a.btn-dark:hover{
    border-color: #fff;
}
.download-button {
    margin: 5% 3% 5% 0;
}


/* text + icons */
#features {
    padding: 10% 15%;
    background: #fff;
    position: relative;
}

.icon-size {
    font-size: 3.5rem;
    color: var(--side);
}
.icon-size:hover {
    color: #777;
}
.icon-main {
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.icon-description {
    color: #8f8f8f;
    margin: 0 7%;
}

.icon-row {
    text-align: center;
}

/* Testimonials ------------*/
#testimonials {
    text-align: center;
    background-image: var(--wlb);
    color: #fff;
    padding: .5% 12%;
}
.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 4%;
}
.carousel-item {
    padding: 7.5% 0 4%;
    transition: transform .5s ease-in-out;
}

#testimonials h2 {
    font-weight: 400;
    padding: 0 12%;
}
#testimonials em {
    color: #fff;
}
/* Press------------ */
#press {
    text-align: center;
}
.press-logo {
    width: 10%;
    margin: 1.5% 7%;
}

#pricing {
    padding: 7.5%;
    padding-bottom: 0;
    text-align: center;
}
.pricing-col {
    padding: 3% 2%;
}
#pricing h5 {
    font-weight: 400;
}
#pricing p a {
    text-decoration: none;
    color: #000;
}


/* Media Query */
@media (max-width: 1024px) {
    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(0);
        width: 45%;
    }
}
/* cta */
#cta h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #fff;
    font-size: 3rem;
    margin-bottom: 5%;

}
#cta {
    background: #ff4c68;
    text-align: center;
    padding: 7% 15% 5% 15%;
}
#footer {
    background: var(--back);
    text-align: center;
    padding: 2% 7% 0;
    color: #000;
}
#footer .bi {
    margin: 10px;
    color: #000;
}
@media (max-width: 760px) {
  .container-fluid {
  padding: 3% 10%;
  }
  #testimonials {
  padding: 4% 0 0;
  }
  #testimonials h2 {
    padding: 0 12%;
  }
  .carousel-item {
    padding-top: 0;
    top: 50%;
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: transform 1.25s ease-in-out;
  }
  .testimonial-img {
    width: 12%;
    border-radius: 100%;
    margin: 4%;
  }
  .carousel-inner {
    position: relative;
    min-height: 520px;
  }
}
